:root {
  --navy: #001f3f;
  --blue: #0074d9;
  --aqua: #7fdbff;
  --white: #ffffff;
  --silver: #dddddd;
  --gray: #aaaaaa;

  --border-height: 15px;

  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-optima: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;

  --shadow-color: 240deg 100% 7%;
  --shadow-elevation-medium: 0.7px 0.6px 1.1px hsl(var(--shadow-color) / 0.39),
    2.8px 2.2px 4.2px -0.7px hsl(var(--shadow-color) / 0.42), 6.8px 5.4px 10.2px -1.5px hsl(var(--shadow-color) / 0.45),
    16.3px 12.9px 24.3px -2.2px hsl(var(--shadow-color) / 0.47);
}

html,
body,
.background {
  min-height: 100%;
  height: 100%;
}

.container {
  min-height: calc(100% - var(--border-height) * 2);
}

html {
  font-family: var(--font-optima);
  /* color: var(--navy); */
  background: var(--silver);
}

.border {
  height: var(--border-height);
}

.background {
  overflow: auto;
  /* border-radius: 10px;
  border: 10px solid;
  border-image-source: linear-gradient(var(--blue), var(--aqua), var(--blue));
  border-image-slice: 1; */

  /* background: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  /* background-color: #ee9b00; */
  /* background-color: var(--blue); */
  background-color: #03045e;

  /* courtesy of https://heropatterns.com/ */
  background-color: #03045e;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%2300b4d8' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ade8f4' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
  max-width: 45em;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0 1em;
  background: #dbf9ff;
  /*slightly less blue*/
  background: #dffaff;
  background: var(--white);
  /* very slight grey */
  background: #f2f2f2;
  background: #f5f3ff;
  border-left: 10px solid var(--navy);
  border-right: 10px solid var(--navy);
  border-left: 10px solid #ede9fe;
  border-right: 10px solid #ede9fe;
  box-shadow: var(--shadow-elevation-medium);
}

a {
  /* color: var(--navy); */
  color: black;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

header {
  padding: 1em 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

header img {
  height: 3em;
  width: auto;
  object-fit: contain;
}

header h1 {
  margin: 0;
  margin-right: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
}

li {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

article h2 {
  margin: 10px 0;
}

article {
  padding: 0 0 20px;
  /* TODO: improve line height */
}
