<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>CodePen - Blog Refresh</title>
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <div class="background">
    <div class="border"></div>
    <div class="container">
      <header>
        <img src="headshot.png" alt="" aria-hidden="true">
        <h1><a href="/">Dan Hinze</a></h1>
        <nav>
          <ul>
            <!-- <li><button>Change ipsum text</button></li> -->
            <li><a href="/writing/">Writing</a></li>
            <li><a href="/reading/">Reading</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </nav>
      </header>
      <article>
        {{ content }}
        {% comment %} {{ content | safe }} {% endcomment %}
      </article>
    </div>
    <div class="border"></div>
  </div>
</body>
<script src="./index.js"></script>

</html>
