<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dan Hinze</title>
  <meta name="description" content="The blog and internet home of Dan Hinze. Miscellaneous musings on life, art, software, and whatever else.">
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <div class="border"></div>
    <div class="container">
      <header>
        {% comment %} <img src="./headshot.png" alt="" aria-hidden="true"> {% endcomment %}
        <div class="header-name">
          <h1>
            <a href="/">Dan Hinze</a>
          </h1>
        </div>
        <nav>
          <ul>
            <li><a href="/posts/">Posts</a></li>
            {% comment %} <li><a href="/reading/">Reading</a></li> {% endcomment %}
            <li><a href="/about/">About</a></li>
            {% comment %} <li><a href="/contact/">Contact</a></li> {% endcomment %}
          </ul>
        </nav>
      </header>
      <article>
        {{ content }}
      </article>
    </div>
    <div class="border"></div>
</body>
{% comment %} <script src="./index.js"></script> {% endcomment %}

</html>
